body {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

h2#whos-turn {
    padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

table {
  margin: 15px auto;
  border-spacing: 0;
  border-collapse: collapse;
}

table tbody {
  background-color: black;
}

table td {
  padding: 0;
  margin: 0;
}

table button {
  border: none;
  outline: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  vertical-align: top;
  background-color: #FFF;
  font-size: 40px;
  font-weight: bold;
}

.row1 button {
  margin-bottom: 10px;
}

.row2 button {
  margin-bottom: 10px;
}

.one button {
  margin-right: 10px;
}

.two button {
  margin-right: 10px;
}

/* ----==== Winner styles ====---- */
table.winnerGif {
  background-image: url(./img:gif/win.gif);
  background-size: 546px;
  background-position: center;
  background-repeat: no-repeat;
}

tbody.removeBlack {
  background-color: transparent;
}

table button.removeWhite {
  background-color: transparent;
}
