body {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

.game {
   padding: 15px 0;
}

.row button {
  border: none;
  color: #fff;
  background-color: #b5b5b5;
  /*color: #000;
  background-image: URL(./win.gif);
  background-size: 193px;
  background-position: center;*/
  height: 70px;
  width: 70px;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
  margin: 8px 5px;
  text-align: center;
  display: inline-block;
  outline: none;
  box-sizing: border-box;
  vertical-align: top;
}
